{
    "Whitelist": {
        "Shelves": [{
            "id": 0,
            "Name": "BP_ShelfMain_001",
            "Repeat": 1,
            "Scale": 5.2,
            "Shelfbase": [
                0.09464480874316935,
                0.31502732240437166,
                0.51994535519125690,
                0.72759562841530050,
                0.8938797814207660
            ],
            "Shelfoffset": [
                0.035,
                0.02,
                0.02,
                0.02,
                0.02
            ]
        }, {
            "id": 1,
            "Name": "BP_ShelfMain_002",
            "Repeat": 1,
            "Scale": 5.2,
            "Shelfbase": [
                0.09464480874316935,
                0.31502732240437166,
                0.51994535519125690,
                0.72759562841530050,
                0.8938797814207660
            ],
            "Shelfoffset": [
                0.035,
                0.02,
                0.02,
                0.02,
                0.02
            ]
        }],
        "Products": [{
            "id": 0,
            "GroupName": "chips_barbaras",
            "ShelfName": "BP_ShelfMain_001",
            "Members": [{
                "id": 0,
                "Name": "chips_barbaras_001",
                "Scale": 5.2
            }, {
                "id": 0,
                "Name": "chips_barbaras_002",
                "Scale": 5.2
            }, {
                "id": 0,
                "Name": "chips_barbaras_003",
                "Scale": 5.2
            }, {
                "id": 0,
                "Name": "chips_barbaras_004",
                "Scale": 5.2
            }, {
                "id": 0,
                "Name": "chips_barbaras_005",
                "Scale": 5.2
            }, {
                "id": 0,
                "Name": "chips_barbaras_006",
                "Scale": 5.2
            }, {
                "id": 0,
                "Name": "chips_barbaras_007",
                "Scale": 5.2
            }, {
                "id": 0,
                "Name": "chips_barbaras_008",
                "Scale": 5.2
            }, {
                "id": 0,
                "Name": "chips_barbaras_009",
                "Scale": 5.2
            }, {
                "id": 0,
                "Name": "chips_barbaras_010",
                "Scale": 5.2
            }, {
                "id": 0,
                "Name": "chips_barbaras_011",
                "Scale": 5.2
            }, {
                "id": 0,
                "Name": "chips_barbaras_012",
                "Scale": 5.2
            }, {
                "id": 0,
                "Name": "chips_barbaras_013",
                "Scale": 5.2
            }, {
                "id": 0,
                "Name": "chips_barbaras_014",
                "Scale": 5.2
            }, {
                "id": 0,
                "Name": "chips_barbaras_015",
                "Scale": 5.2
            }, {
                "id": 0,
                "Name": "chips_barbaras_016",
                "Scale": 5.2
            }, {
                "id": 0,
                "Name": "chips_barbaras_017",
                "Scale": 5.2
            }, {
                "id": 0,
                "Name": "chips_barbaras_018",
                "Scale": 5.2
            }, {
                "id": 0,
                "Name": "chips_barbaras_019",
                "Scale": 5.2
            }, {
                "id": 0,
                "Name": "chips_barbaras_020",
                "Scale": 5.2
            }, {
                "id": 0,
                "Name": "chips_barbaras_021",
                "Scale": 5.2
            }, {
                "id": 0,
                "Name": "chips_barbaras_022",
                "Scale": 5.2
            }, {
                "id": 0,
                "Name": "chips_barbaras_023",
                "Scale": 5.2
            }, {
                "id": 0,
                "Name": "chips_barbaras_024",
                "Scale": 5.2
            }, {
                "id": 0,
                "Name": "chips_barbaras_025",
                "Scale": 5.2
            }, {
                "id": 0,
                "Name": "chips_barbaras_026",
                "Scale": 5.2
            }, {
                "id": 0,
                "Name": "chips_barbaras_027",
                "Scale": 5.2
            }, {
                "id": 0,
                "Name": "chips_barbaras_028",
                "Scale": 5.2
            }, {
                "id": 0,
                "Name": "chips_barbaras_029",
                "Scale": 5.2
            }, {
                "id": 0,
                "Name": "chips_barbaras_030",
                "Scale": 5.2
            }]
        }]
    }
}
